body {
    font-size: 20px;
    background-color: whitesmoke;
    color: black;
    margin: 0;
    margin: 40px auto;
    max-width: 650px;
    padding: 0 10px;
}
/* Dark theme styles */
/* body.dark-theme {
    background-color: black;
    color: whitesmoke;
} */
body.dark-theme {
    background-color: #121212; /* Deep gray for a softer dark background */
    color: #E0E0E0; /* Light gray for text, softer than whitesmoke */
}

/* Toggle button styles */
.toggle-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 30px;
    background-color: #f0f0f0;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.toggle-btn.dark-theme {
    background-color: #333;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 20px;
}

h1,
h2,
p {
    text-align: left;
}

img,
video,
iframe,
audio {
    display: block;
    margin: 0 auto;
    border-radius: 10px;
    max-width: 100%;
} 
@media (max-width: 600px) {
    body {
        font-size: 16px;
    }
}
